
@font-face {
    font-family: "YourFontName"; /*a name to be used later*/
    src: local("Vasca Berria TT"); /*URL to font*/
}

body {
	
  font-family: YourFontName;
  background: url(background.jpg);
  background-color: #2FFC0B;
}

div
{
    color: 	#808080;
	background-color: #2FFC0B;
}

div span
{
    color: 	#808080;
	background-color: #2FFC0B;
}

h2
{
    color: #B22222;
}

